* {
    margin: 0;
    padding: 0;
}

.conten {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.conten .card {
    position: relative;
    max-width: 300px;
    height: 320px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.content {
    font-size: 15px;
}

.conten .card:hover {
    height: 450px;
}

.conten .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.conten .card .db h1 {
    position: relative;
    text-align: center;
    z-index: 2;
    transition: 0.3s ease-in-out;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    color: #00adb5;
}

.imgBx:nth-of-type(2) {
    opacity: 80%;
}

.conten .card:hover .db h1 {
    opacity: 0;
}

.conten .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
    height: 260px;
}

.conten .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.conten .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -95px;
    transition-delay: 0.3s;
}